List((
    texture_width: 70,
    texture_height: 40,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 10,
            height: 10,
        ),
        (
            x: 10,
            y: 0,
            width: 10,
            height: 10,
        ),
        (
            x: 20,
            y: 0,
            width: 10,
            height: 10,
        ),
        (
            x: 30,
            y: 0,
            width: 10,
            height: 10,
        ),
        (
            x: 40,
            y: 0,
            width: 10,
            height: 10,
        ),
        (
            x: 50,
            y: 0,
            width: 10,
            height: 10,
        ),
        (
            x: 60,
            y: 0,
            width: 10,
            height: 10,
        ),
        (
            x: 0,
            y: 10,
            width: 10,
            height: 10,
        ),
        (
            x: 10,
            y: 10,
            width: 10,
            height: 10,
        ),
        (
            x: 20,
            y: 10,
            width: 10,
            height: 10,
        ),
        (
            x: 30,
            y: 10,
            width: 10,
            height: 10,
        ),
        (
            x: 40,
            y: 10,
            width: 10,
            height: 10,
        ),
        (
            x: 50,
            y: 10,
            width: 10,
            height: 10,
        ),
        (
            x: 60,
            y: 10,
            width: 10,
            height: 10,
        ),
        (
            x: 0,
            y: 20,
            width: 10,
            height: 10,
        ),
        (
            x: 10,
            y: 20,
            width: 10,
            height: 10,
        ),
        (
            x: 20,
            y: 20,
            width: 10,
            height: 10,
        ),
        (
            x: 30,
            y: 20,
            width: 10,
            height: 10,
        ),
        (
            x: 40,
            y: 20,
            width: 10,
            height: 10,
        ),
        (
            x: 50,
            y: 20,
            width: 10,
            height: 10,
        ),
        (
            x: 60,
            y: 20,
            width: 10,
            height: 10,
        ),
        (
            x: 0,
            y: 30,
            width: 10,
            height: 10,
        ),
        (
            x: 10,
            y: 30,
            width: 10,
            height: 10,
        ),
        (
            x: 20,
            y: 30,
            width: 10,
            height: 10,
        ),
        (
            x: 30,
            y: 30,
            width: 10,
            height: 10,
        ),
        (
            x: 40,
            y: 30,
            width: 10,
            height: 10,
        ),
        (
            x: 50,
            y: 30,
            width: 10,
            height: 10,
        ),
        (
            x: 60,
            y: 30,
            width: 10,
            height: 10,
        ),
    ],
))