List((
    texture_width: 240,
    texture_height: 64,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 24,
            height: 24,
        ),
        (
            x: 24,
            y: 0,
            width: 24,
            height: 24,
        ),
        (
            x: 48,
            y: 0,
            width: 24,
            height: 24,
        ),
        (
            x: 72,
            y: 0,
            width: 24,
            height: 24,
        ),
        (
            x: 96,
            y: 0,
            width: 24,
            height: 24,
        ),
        (
            x: 120,
            y: 0,
            width: 24,
            height: 24,
        ),
        (
            x: 144,
            y: 0,
            width: 24,
            height: 24,
        ),
        (
            x: 168,
            y: 0,
            width: 24,
            height: 24,
        ),
        (
            x: 192,
            y: 0,
            width: 24,
            height: 24,
        ),
        (
            x: 216,
            y: 0,
            width: 24,
            height: 24,
        ),
        (
            x: 0,
            y: 24,
            width: 10,
            height: 10,
        ),
        (
            x: 10,
            y: 24,
            width: 10,
            height: 10,
        ),
        (
            x: 20,
            y: 24,
            width: 10,
            height: 10,
        ),
        (
            x: 30,
            y: 24,
            width: 10,
            height: 10,
        ),
        (
            x: 40,
            y: 24,
            width: 10,
            height: 10,
        ),
        (
            x: 50,
            y: 24,
            width: 10,
            height: 10,
        ),
        (
            x: 60,
            y: 24,
            width: 10,
            height: 10,
        ),
        (
            x: 0,
            y: 34,
            width: 10,
            height: 10,
        ),
        (
            x: 10,
            y: 34,
            width: 10,
            height: 10,
        ),
        (
            x: 20,
            y: 34,
            width: 10,
            height: 10,
        ),
        (
            x: 30,
            y: 34,
            width: 10,
            height: 10,
        ),
        (
            x: 40,
            y: 34,
            width: 10,
            height: 10,
        ),
        (
            x: 50,
            y: 34,
            width: 10,
            height: 10,
        ),
        (
            x: 60,
            y: 34,
            width: 10,
            height: 10,
        ),
        (
            x: 0,
            y: 44,
            width: 10,
            height: 10,
        ),
        (
            x: 10,
            y: 44,
            width: 10,
            height: 10,
        ),
        (
            x: 20,
            y: 44,
            width: 10,
            height: 10,
        ),
        (
            x: 30,
            y: 44,
            width: 10,
            height: 10,
        ),
        (
            x: 40,
            y: 44,
            width: 10,
            height: 10,
        ),
        (
            x: 50,
            y: 44,
            width: 10,
            height: 10,
        ),
        (
            x: 60,
            y: 44,
            width: 10,
            height: 10,
        ),
        (
            x: 0,
            y: 54,
            width: 10,
            height: 10,
        ),
        (
            x: 10,
            y: 54,
            width: 10,
            height: 10,
        ),
        (
            x: 20,
            y: 54,
            width: 10,
            height: 10,
        ),
        (
            x: 30,
            y: 54,
            width: 10,
            height: 10,
        ),
        (
            x: 40,
            y: 54,
            width: 10,
            height: 10,
        ),
        (
            x: 50,
            y: 54,
            width: 10,
            height: 10,
        ),
        (
            x: 60,
            y: 54,
            width: 10,
            height: 10,
        ),
    ],
))