(
    texture_width: 168,
    texture_height: 14,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 14,
            height: 14,
        ),
        (
            x: 14,
            y: 0,
            width: 14,
            height: 14,
        ),
        (
            x: 28,
            y: 0,
            width: 14,
            height: 14,
        ),
        (
            x: 42,
            y: 0,
            width: 14,
            height: 14,
        ),
        (
            x: 56,
            y: 0,
            width: 14,
            height: 14,
        ),
        (
            x: 70,
            y: 0,
            width: 14,
            height: 14,
        ),
        (
            x: 84,
            y: 0,
            width: 14,
            height: 14,
        ),
        (
            x: 98,
            y: 0,
            width: 14,
            height: 14,
        ),
        (
            x: 112,
            y: 0,
            width: 14,
            height: 14,
        ),
        (
            x: 126,
            y: 0,
            width: 14,
            height: 14,
        ),
        (
            x: 140,
            y: 0,
            width: 14,
            height: 14,
        ),
    ],
)