List((
    texture_width: 102,
    texture_height: 280,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 18,
            height: 18,
        ),
        (
            x: 18,
            y: 0,
            width: 18,
            height: 18,
        ),
        (
            x: 36,
            y: 0,
            width: 18,
            height: 18,
        ),
        (
            x: 0,
            y: 18,
            width: 18,
            height: 18,
        ),
        (
            x: 18,
            y: 18,
            width: 18,
            height: 18,
        ),
        (
            x: 36,
            y: 18,
            width: 18,
            height: 18,
        ),
        (
            x: 0,
            y: 36,
            width: 24,
            height: 12,
        ),
        (
            x: 24,
            y: 36,
            width: 24,
            height: 12,
        ),
        (
            x: 48,
            y: 36,
            width: 24,
            height: 12,
        ),
        (
            x: 0,
            y: 48,
            width: 22,
            height: 36,
        ),
        (
            x: 22,
            y: 48,
            width: 22,
            height: 36,
        ),
        (
            x: 44,
            y: 48,
            width: 22,
            height: 36,
        ),
        (
            x: 0,
            y: 84,
            width: 21,
            height: 26,
        ),
        (
            x: 21,
            y: 84,
            width: 21,
            height: 26,
        ),
        (
            x: 42,
            y: 84,
            width: 21,
            height: 26,
        ),
        (
            x: 0,
            y: 110,
            width: 11,
            height: 17,
        ),
        (
            x: 11,
            y: 110,
            width: 11,
            height: 17,
        ),
        (
            x: 22,
            y: 110,
            width: 11,
            height: 17,
        ),
        (
            x: 33,
            y: 110,
            width: 11,
            height: 17,
        ),
        (
            x: 0,
            y: 127,
            width: 21,
            height: 21,
        ),
    ],
))