List((
    texture_width: 90,
    texture_height: 270,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 45,
            height: 270,
        ),
        (
            x: 45,
            y: 0,
            width: 45,
            height: 270,
        ),
    ],
))