List((
    texture_width: 80,
    texture_height: 100,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 12,
            height: 8,
        ),
        (
            x: 12,
            y: 0,
            width: 12,
            height: 8,
        ),
        (
            x: 24,
            y: 0,
            width: 12,
            height: 8,
        ),
        (
            x: 0,
            y: 8,
            width: 12,
            height: 8,
        ),
        (
            x: 12,
            y: 8,
            width: 12,
            height: 8,
        ),
        (
            x: 24,
            y: 8,
            width: 12,
            height: 8,
        ),
        (
            x: 0,
            y: 16,
            width: 22,
            height: 9,
        ),
        (
            x: 22,
            y: 16,
            width: 22,
            height: 9,
        ),
        (
            x: 44,
            y: 16,
            width: 22,
            height: 9,
        ),
        (
            x: 0,
            y: 25,
            width: 22,
            height: 9,
        ),
        (
            x: 22,
            y: 25,
            width: 22,
            height: 9,
        ),
        (
            x: 44,
            y: 25,
            width: 22,
            height: 9,
        ),
        (
            x: 0,
            y: 34,
            width: 14,
            height: 5,
        ),
        (
            x: 14,
            y: 34,
            width: 14,
            height: 5,
        ),
        (
            x: 28,
            y: 34,
            width: 14,
            height: 5,
        ),
        (
            x: 0,
            y: 39,
            width: 11,
            height: 7,
        ),
        (
            x: 11,
            y: 39,
            width: 11,
            height: 7,
        ),
        (
            x: 22,
            y: 39,
            width: 11,
            height: 7,
        ),
        (
            x: 33,
            y: 39,
            width: 11,
            height: 7,
        ),
    ],
))