(
  title: "space_shooter",
  dimensions: Some((500, 500)),
  max_dimensions: Some((500, 500)),
  min_dimensions: Some((500, 500)),
  fullscreen: false,
  multisampling: 0,
  visibility: true,
  vsync: true,
)
