(
  title: "space_shooter",
  dimensions: Some((640, 480)),
  max_dimensions: Some((640, 480)),
  min_dimensions: Some((640, 480)),
  fullscreen: false,
  multisampling: 0,
  visibility: true,
  vsync: true,
)
