(
  title: "space_shooter",
  dimensions: Some((650, 650)),
  max_dimensions: Some((650, 650)),
  min_dimensions: Some((650, 650)),
  fullscreen: false,
  multisampling: 0,
  visibility: true,
  vsync: true,
)
