(
    spritesheet_width: 72,
    spritesheet_height: 94,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 18,
            height: 18,
        ),
        (
            x: 0,
            y: 18,
            width: 18,
            height: 18,
        ),
        (
            x: 0,
            y: 36,
            width: 18,
            height: 18,
        ),
        (
            x: 0,
            y: 54,
            width: 4,
            height: 4,
        ),
        (
            x: 0,
            y: 58,
            width: 22,
            height: 22,
        ),
        (
            x: 0,
            y: 80,
            width: 14,
            height: 14,
        ),
        (
            x: 14,
            y: 80,
            width: 14,
            height: 14,
        ),
        (
            x: 28,
            y: 80,
            width: 14,
            height: 14,
        ),
        (
            x: 42,
            y: 80,
            width: 14,
            height: 14,
        ),
        (
            x: 4,
            y: 54,
            width: 4,
            height: 4,
        ),
        (
            x: 56,
            y: 93,
            width: 4,
            height: 1,
        ),
        (
            x: 60,
            y: 93,
            width: 4,
            height: 1,
        ),
    ],
)