(
    axes: {
        "player_x": Emulated(
            pos: Key(D),
            neg: Key(A),
        ),
        "player_y": Emulated(
            pos: Key(W),
            neg: Key(S),
        ),
    },
    actions: {
        "shoot": [
            [Key(Space)]
        ],
        "spawn_enemy": [
            [Key(Q)]
        ],
        "barrel_left": [
            [Key(Left)]
        ],
        "barrel_right": [
            [Key(Right)]
        ],
        "buy_0": [
            [Key(Key1)]
        ],
        "buy_1": [
            [Key(Key2)]
        ],
        "buy_2": [
            [Key(Key3)]
        ],
    },
)