name: CI

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2

    - name: Install linux deps
      run: |
        sudo apt update
        sudo apt install gcc pkg-config openssl libasound2-dev cmake build-essential python3 libfreetype6-dev libexpat1-dev libxcb-composite0-dev libssl-dev libx11-dev pulseaudio
      if: contains(matrix.os, 'ubuntu')

    - name: Build
      run: cargo build --features=fail-on-warnings --verbose

    - name: Run tests
      run: cargo test --verbose

  markdown:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: markdown lint
      uses: avto-dev/markdown-lint@v1
      with:
        args: '.'
        config: '.markdownlint.json'
